@import "node_modules/normalize-scss/sass/normalize";

@include normalize();

$badass: #bada55;

body { 
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
    padding: 0;
    color: #333;
    overflow-x: hidden;
    line-height: 1.5;
}

.registries {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.registry-link {
    border-radius: 8px;
    display: inline-flex;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
    transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
    width: 500px;
    height: 100px;
    padding: 32px;
    margin: 8px;
    max-width: calc(100% - 80px);

    img {
        max-width: 100%;
        max-height: 100%;
    }

    &:hover {
        box-shadow: 0 1px 3px 1px rgba(60,64,67,.2),0 2px 8px 4px rgba(60,64,67,.1);
    }
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h2,
h3,
h4 {
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}

h2 {
    letter-spacing: 4px;
    font-size: 36px;
    text-transform: uppercase;

    @media only screen and (max-width: 640px) { 
        font-size: 24px;
    }
}

h3 {
    letter-spacing: 2px;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-center {
    display: flex;
    justify-content: center;

    &.main {
        flex-direction: column;
        align-items: center;
    }
}

.header-calligraphy {
    width: 400px;
    max-width: 100%;
}

.center {
    text-align: center;
}

.line-right:not(.no-right-align) {
    justify-content: flex-end;
    margin-right: 145px;

    @media only screen and (max-width: 640px) {
        display: inline-flex;
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 32px;
    }
}

.no-right-align {
    display: inline-flex;
}

.line-left {
    margin-left: 145px;

    @media only screen and (max-width: 640px) {
        margin-left: 32px;
    }
}

.line-right::after {
    content: '';
    height: 2px;
    background: #333;
    width: 9999px;
    display: inline-block;
    position: absolute;
    margin-left: 16px;
    left: 100%;
}

.line-left::before {
    content: '';
    height: 2px;
    background: #333;
    width: 9999px;
    display: inline-block;
    position: absolute;
    margin-right: 16px;
    right: 100%;
}

.row {
    display: flex;

    @media only screen and (max-width: 640px) {
        display: block;
    }

    .col {
        flex: 1 0 0;
        padding: 0 32px;
    }
}

header {
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    min-height: 70px;
    justify-content: flex-end;
    position: absolute;
    width: 100%;

    ul {
        margin: 0;
        padding-right: 32px;
        padding: 16px 0;
        
        li {
            padding: 12px 32px;
            display: inline-block;
            text-transform: uppercase;

            a {
                color: white;
                text-decoration: none;
                font-weight: 600;
                letter-spacing: 2px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media only screen and (max-width: 640px) {
        justify-content: flex-start;
        height: auto;
        position: static;
        background: black;

        ul {
            li {
                display: block;
                padding: 12px 16px;
            }
        }
    }
}

section {
    padding: 64px;
    padding-bottom: 128px;
    max-width: 1800px;
    margin: auto;

    @media only screen and (max-width: 640px) { 
        padding: 64px 8px;
    }
}

.story-desc p {
    font-size: 20px;
}

.gray-bg {
    background-color: #dee0e4
}

.header-image {
    height: 100vh;
    max-height: 800px;
    background-image: url("img/header-text.jpg");
    background-size: cover;
    display: block;
}

.static-header-image {
    display: none;
}

@media only screen and (max-width: 1200px) { 
    .header-image {
        display: none;
    }
    
    .static-header-image {
        display: block;
        width: 100%;
        max-height: 800px;
    }
}

#story {
    section {
        display: flex;
        min-width: 0;

        & > div {
            padding: 0 32px;
        }
    }

    .d2photos {
        flex: 3 3 0;
        min-width: 0;
        max-width: 800px;

        img {
            max-width: calc(100% - 16px);
            max-height:calc(100% - 16px);
            padding: 8px;
        }

        .top-photo {
            min-width: 0;
        }

        .bottom-photos {
            display: flex;
            min-width: 0;
            flex: 1 1 0;

            img {
                flex: 1 1 33%;
                object-fit: contain;
                min-width: 0;
                width: calc(100% / 3 - 16px);
            }
        }
    }

    .story-desc {
        flex: 2 2 0;
    }

    @media only screen and (max-width: 1000px)
    {
        section {
            flex-direction: column;

            .story-desc {
                order: -1;
            }
        }
    }
}

#theWedding {

    .row {
        display: flex;

        .wedding-details {
            flex: none;
            margin-right: 64px;
        }

        iframe {
            flex: 1 1 0;
            padding: 0 64px;
        }

        @media only screen and (max-width: 1200px)
        {
            flex-direction: column;

            iframe {
                padding: 64px 0 0 0;
                min-height: 600px;
                width: 100%;
            }
        }
    }


    table {
        tr {
            padding: 8px 0;

            td:first-child {
                vertical-align: text-top;
                padding-right: 64px;
            }
        }
    }
}

.rsvp-button {
    display: inline-block;
    margin-top: 32px;
    padding: 16px 64px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1), -webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
    font-weight: 600;
    background: #930025;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

    &:hover {
        background-color: #9e0028;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    }
}

#rsvp {
    padding-bottom: 240px;
}